<div class="flex items-center justify-center">
    <div class="bg-white overflow-auto max-w-md max-h-64 p-4 rounded shadow-lg relative">
        @if (notifications?.length == 0) {
            <p>No notifications</p>
        } @else {
        <div class="bg-blue-500 text-white px-4 py-2 rounded shadow-lg mb-2" 
        *ngFor="let notification of notifications">
            <mat-icon class="absolute top-2 right-2 cursor-pointer text-black" (click)="closeNotification(notification)">close</mat-icon>
            <p>{{notification.message}}</p>
        </div>
    }
    </div>
</div>